---
---

@import "{{ site.theme }}";

.page-header {
  background-color: #FF6633; // #1281b3;
  background-image: linear-gradient(120deg, #FF9C26, #FF6633);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #FF6633;
}
